@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}


nav .logo {

    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px;
}

nav .logo img {
    width: 30px;
}

nav .logo h1 {
    font-size: 16px;
}

nav .navigation {

    padding: 10px;
    margin-right: 60px;
    display: flex;
    gap: 15px;

}

nav .navigation button {

    border: none;
    background-color: transparent;
    padding: 10px 20px;
    transition: ease-in 0.2s;
    cursor: pointer;
    color: white;
}

nav .navigation button:hover {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    color: white;
}

.img_to_back {

    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    background-image: url('../assets/images/background.jpg');

    /* Background settings */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    filter: brightness(50%);
}

.back {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.back h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
}

.back .fix {

    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 200px;

}

.burger_menu,
.wrapper_burger_menu {
    display: none;
}

.wrapper_burger_menu.change {
    display: none;
}

.container_card {
    position: relative;
    top: -40px;
    width: 100%;

}

.container_card h3 {
    color: black;
    font-size: 30px;
    padding-bottom: 60px;
    margin-left: 5%;

    width: 90%;
}

.grid .card {
    width: 250px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_content {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: white;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card_content h2 {

    width: 100%;
    text-align: center;
}

.card_content button {
    width: 100px;
    position: relative;
    bottom: -120px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    text-indent: -3px;
}

.grid .card:nth-child(1) {
    background-image: url('../assets//images/ecosse.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(2) {
    background-image: url('../assets//images/france.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(3) {
    background-image: url('../assets//images/grece.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(4) {
    background-image: url('../assets//images/italy.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(5) {
    background-image: url('../assets//images/taihiti.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(6) {
    background-image: url('../assets//images/japanv2.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(7) {
    background-image: url('../assets//images/londres.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(8) {
    background-image: url('../assets//images/maroc.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(9) {
    background-image: url('../assets//images/spain.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card:nth-child(10) {
    background-image: url('../assets//images/islande.jpg');
    background-size: cover;
    background-position: center;
}

.grid .card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    gap: 20px;

    width: 90%;
    margin-left: 5%;
}

.container_wave {
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    left: 0;
}

.container_wave img {
    width: 140%;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 100px;

    z-index: 800;
}

.center .arrow {
    background-color: #FF4A4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.center .arrow img {
    transform: rotate(90deg);
    width: 30px;
}

@media (max-width: 1000px) {

    nav .navigation {
        display: none;
    }

    .burger_menu {
        display: block;
        display: flex;
        justify-items: center;
        align-items: center;
        margin-right: 30px;
    }

    .burger_menu img {
        width: 30px;
    }

    .wrapper_burger_menu {

        display: block;
        position: absolute;
        right: 80px;
        top: 15px;

        width: 200px;

        background-color: white;
        padding: 10px;
        border-radius: 8px;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .wrapper_burger_menu button {
        width: 100%;
        margin: 10px 0;

        padding: 10px;
        background-color: transparent;
        border: none;
        color: black;

        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

    nav .logo {

        margin-left: -20px;
    }

}